<mz-tab
  [fixedTabWidth]="true"
  [responsiveThreshold]="370">
  <mz-tab-item [label]="'Today'">
    <div>
      <ng-container *ngIf="isReady">
        <ng-container *ngFor="let zones of zonesArray">
          <mz-collapsible *ngFor="let event of eventsMap[zones]"  [ngClass]="{
                           'green-zone': zones === zonesMap.GREEN_ZONE,
                           'yellow-zone': zones === zonesMap.YELLOW_ZONE,
                           'red-zone': zones === zonesMap.RED_ZONE
                           }">
            <mz-collapsible-item>
              <mz-collapsible-item-header >
                <div class="summary">{{ event.summary }}</div><div>End {{ getLeftDays(event.end.date) }} days</div>
              </mz-collapsible-item-header>
              <mz-collapsible-item-body>
                <div class="date"><div >From:</div><div>{{ event.start.date }}</div></div>
                <div class="date"><div class="date">To:</div><div>{{ event.end.date }}</div></div>
              </mz-collapsible-item-body>
            </mz-collapsible-item>
          </mz-collapsible>
        </ng-container>
      </ng-container>
    </div>
  </mz-tab-item>
  <mz-tab-item [label]="'Upcoming'">
    <ng-container *ngIf="isReady">
      <ng-container *ngFor="let zones of zonesArray">
        <mz-collapsible *ngFor="let event of firstEventsMap[zones]"  [ngClass]="{
                           'green-zone': zones === zonesMap.GREEN_ZONE,
                           'yellow-zone': zones === zonesMap.YELLOW_ZONE,
                           'red-zone': zones === zonesMap.RED_ZONE
                           }">
          <mz-collapsible-item>
            <mz-collapsible-item-header>
              <div class="summary">{{ event.summary }}</div><div>Start {{ getLeftDays(event.start.date) }} days</div>
            </mz-collapsible-item-header>
            <mz-collapsible-item-body>
              <div class="date"><div >From:</div><div>{{ event.start.date }}</div></div>
              <div class="date"><div class="date">To:</div><div>{{ event.end.date }}</div></div>
            </mz-collapsible-item-body>
          </mz-collapsible-item>
        </mz-collapsible>
      </ng-container>
    </ng-container>
  </mz-tab-item>
</mz-tab>




