
.green-zone {
    background-color: #33B679;
}

.yellow-zone {
    background-color: #F6BF26;
}

.red-zone {
    background-color: #E67C73;
}

.extend-opacity {
  opacity: 0.5;
}
.summary {
  width: 200px;
  margin-right: 24px;
}
.event-description {
    text-align: start;
}

.date {
  width: 100%;
  display: flex;

  :first-child {
    width: auto;
    margin-right: 24px;
  }

}
