.green-zone {
    background-color: #33B679;
}

.yellow-zone {
    background-color: #F6BF26;
}

.red-zone {
    background-color: #E67C73;
}
mat-panel-title {
    width: 180px;
    flex-grow: 0;
}
::ng-deep .mat-expansion-panel {
    text-align: start;
}
